/* Desktops, large screens */
@media screen and (max-width: 10000px) {
    header {
        display: none;
    }
}

/* Mid screens, laptops */
@media screen and (max-width: 1024px) {
    header {
        display: none;
    }
}

/* Small screens, laptops */
@media screen and (max-width: 992px) {
    header {
        display: none;
    }
}

/* iPads, Tablets */
@media screen and (max-width: 768px) {
    main {
        grid-template-areas:
                "head"
                "nav"
                "cont"
                "foot"
            ;
        grid-template-columns: 1fr;
    }

    aside {
        display: none;
    }
}

/* Mobile devices */
@media screen and (max-width: 480px) {

}